.calculator {
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.input-small {
  width: 50px;
  height: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.title {
  text-align: center;
  color: #01074c;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}
.title h1 {
  font-size: 3.5em;
  margin: 0;
  animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
  0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
  }
  100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
  }
}
.container{
  width: 700px;
  align-items: center;
}
.custom-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #45a049;
}
